In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import seawater
import netCDF4 as nc
import sys
sys.path.append('/data/tjarniko/mocsy')
import mocsy
import gsw
import warnings
from salishsea_tools import (
    nc_tools,
    viz_tools,
    geo_tools,
    tidetools
)

In [3]:
dset = 'COMB'
yr = 2013; 
fname = f'./extracted_calculated/YR{yr}_{dset}_salspace_modeloutput_with_Omega.csv'
MOD_2013 = pd.read_csv(fname)
yr = 2014; 
fname = f'./extracted_calculated/YR{yr}_{dset}_salspace_modeloutput_with_Omega.csv'
MOD_2014 = pd.read_csv(fname)
yr = 2015; 
fname = f'./extracted_calculated/YR{yr}_{dset}_salspace_modeloutput_with_Omega.csv'
MOD_2015 = pd.read_csv(fname)
yr = 2016; 
fname = f'./extracted_calculated/YR{yr}_{dset}_salspace_modeloutput_with_Omega.csv'
MOD_2016 = pd.read_csv(fname)
yr = 2017; 
fname = f'./extracted_calculated/YR{yr}_{dset}_salspace_modeloutput_with_Omega.csv'
MOD_2017 = pd.read_csv(fname)

# MOD_2013['OmegaA'][MOD_2013['OmegaA']>1e10] = np.nan
# MOD_2014['OmegaA'][MOD_2014['OmegaA']>1e10] = np.nan
# MOD_2015['OmegaA'][MOD_2015['OmegaA']>1e10] = np.nan
# MOD_2016['OmegaA'][MOD_2016['OmegaA']>1e10] = np.nan
# MOD_2017['OmegaA'][MOD_2017['OmegaA']>1e10] = np.nan

fname = f'./extracted_calculated/OBS_COMB_MASKED_umolL.csv'
OBS = pd.read_csv(fname)
# print(OBS)

In [4]:
MOD_2013

,Unnamed: 0,dic,alk,mod_i,mod_j,lb_loc,ub_loc,OmegaA,loc_tag
0,0,2116.872803,2167.826660,264.0,422.0,29.0,30.0,0.831137,3.0
1,1,2107.750732,2162.559326,264.0,422.0,28.0,29.0,0.863046,3.0
2,2,2093.163086,2154.332520,264.0,422.0,28.0,29.0,0.908602,3.0
3,3,2084.171631,2147.569092,264.0,422.0,27.0,28.0,0.931654,3.0
4,4,2074.861328,2135.933838,264.0,422.0,25.0,26.0,0.922437,3.0
...,...,...,...,...,...,...,...,...,...
567,567,2087.531006,2134.788574,168.0,647.0,24.0,25.0,0.835627,2.0
568,568,2092.455078,2141.557861,168.0,647.0,25.0,26.0,0.845117,2.0
569,569,2107.789795,2156.415283,168.0,647.0,28.0,29.0,0.838620,2.0
570,570,2116.472900,2162.761963,168.0,647.0,30.0,31.0,0.816961,2.0
571,571,2123.473145,2167.357910,168.0,647.0,32.0,33.0,0.786760,2.0